In [2]:
import numpy as np
import pandas as pd

In [3]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [16]:
pd.Series(my_data)

0    10
1    20
2    30
dtype: int64

In [17]:
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [21]:
ser1 = pd.Series([1,2,1,3], ['USA','Germany','USSR','Japan'])
ser1

USA        1
Germany    2
USSR       1
Japan      3
dtype: int64

In [23]:
ser2 = pd.Series([1,2,1,3],['USA','Germany','Italy','Japan'])
ser2

USA        1
Germany    2
Italy      1
Japan      3
dtype: int64

In [24]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      6.0
USA        2.0
USSR       NaN
dtype: float64